@font-face {
  font-family: Poppins-Medium;
  src: url(../public/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: Poppins-Regular;
  src: url(../public/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(../public/fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: DMSerif-Regular;
  src: url(../public/fonts/DMSerifDisplay-Regular.ttf);
}

* {
  font-family: Poppins-Regular;
  margin: 0;
  padding: 0;
  color: rgba(3, 9, 17, 1);
}

.container {
  display: flex;
  padding-left: 8em;
  padding-right: 8em;
  height: 100%;
}

.wrapper {
  padding-left: 4em;
  padding-right: 4em;
  width: 100%;
}

body {
  background-color: rgba(245, 246, 247, 1);
}

.skip-link {
  position: absolute;
  top: -60px;
  left: 10px;
  background-color: rgb(255, 129, 3);
  color: white;
  padding: 8px;
  z-index: 100;
  transition: all 0.3s ease;
}

.skip-link:focus {
  top: 10px;
}

/**
 * HEADER
 */

header {
  height: 4.6em;
  width: 100%;
  background-color: #fff;
}

header .container {
  justify-content: space-between;
  align-items: center;
  height: 4.6em;
}

.brand-image {
  height: 1.6em;
}

.brand-link {
  padding: 0.8em 0.8em 0.8em 0;
}

.nav-list {
  display: flex;
}

.nav-item {
  list-style: none;
  margin: auto 0.4em;
}

.nav-item a {
  text-decoration: none;
  letter-spacing: 0.06em;
  font-family: Poppins-Medium;
  padding: 0.8em;
}

.nav-item a:hover {
  color: #ff8103;
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#drawer {
  display: flex;
  margin-left: 4em;
}

.cart-link {
  text-decoration: none;
  font-family: Poppins-Medium;
  padding: 0.8em 0 0.8em 0.8em;
}

.cart-link svg {
  margin-right: 0.2em;
}

.burger {
  display: none;
  background: none;
  border: none;
}

.burger div {
  width: 24px;
  height: 4px;
  background-color: rgba(3, 9, 17, 1);
  margin: 4px;
  transition: all 0.2s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/**
 * MAIN 
 */

/* HERO */

.hero {
  color: white;
  background: linear-gradient(
      to right,
      rgba(3, 9, 17, 0.788),
      rgba(255, 255, 255, 0.137)
    ),
    url(./../public/images/heros/hero-image_2.jpg) no-repeat top center;
  background-size: cover;
  height: 36em;
}

.hero * {
  color: #fff;
}

.hero .container {
  align-items: center;
}

.hero-label {
  letter-spacing: 0.06em;
}

.hero-title {
  font-family: DMSerifDisplay-Regular;
  font-size: 3em;
  margin-top: 0.4em;
  margin-bottom: 0.8em;
  letter-spacing: 0.02em;
}

.hero-desc {
  letter-spacing: 0.02em;
}

/* CATALOG */

#catalog {
  margin-top: 4em;
  align-items: center;
}

.catalog-header {
  text-align: center;
  margin-bottom: 2.4em;
}

.catalog-header-title {
  font-family: DMSerifDisplay-Regular;
  font-size: 2.4em;
  margin-bottom: 0.2em;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catalog-product {
  box-shadow: -2px 4px 16px -10px rgba(0, 0, 0, 0.404);
  background-color: #fff;
  overflow: hidden;
  background-color: white;
  border-radius: 0.4em;
  width: 22em;
  margin-bottom: 2em;
  margin-left: 0.8em;
  margin-right: 0.8em;
  transition: all 0.3s;
}

.catalog-product:hover {
  transform: scale(1.04);
  box-shadow: -2px 4px 16px -10px rgba(0, 0, 0, 0.13);
}

.catalog-product a {
  text-decoration: none;
}

.product-img {
  height: 16rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.product-content {
  padding: 1.2em 1.2em;
}

.product-content-title {
  font-family: DMSerifDisplay-Regular;
  font-size: 1.8em;
  margin-bottom: 0.1em;
}

.product-content-label {
  font-weight: bold;
}

.product-content-desc {
  color: rgb(150, 153, 156);
}

/* FEEDBACK */

#feedback {
  margin-top: 4em;
  align-items: center;
}

.feedback-header {
  margin-bottom: 2.4em;
}

.feedback-header-title {
  font-family: DMSerifDisplay-Regular;
  font-size: 2.4em;
  margin-bottom: 0.2em;
}

.feedback-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.feedback-item {
  box-shadow: -2px 4px 16px -10px rgba(0, 0, 0, 0.33);
  background-color: #fff;
  overflow: hidden;
  background-color: white;
  border-radius: 0.4em;
  width: 44%;
  margin-bottom: 1.4em;
  padding: 1.2em;
  margin-right: 1%;
}

.feedback-profile {
  display: flex;
  margin-bottom: 1.6em;
}

.feedback-profile img {
  border-radius: 50%;
  height: 4.6em;
  width: 4.6em;
}

.feedback-profile-detail {
  margin-left: 2em;
}

.feedback-profile-detail h2 {
  font-family: DMSerifDisplay-Regular;
}

/**
 * FOOTER
 */

footer {
  width: 100%;
  height: 4em;
  margin-top: 6em;
}

footer .container {
  justify-content: space-between;
}

.footer-brand {
  font-family: DMSerifDisplay-Regular;
  font-weight: bold;
}

#social {
  display: flex;
}

.social-item {
  list-style: none;
}

.social-item a {
  text-decoration: none;
  padding: 0.8em;
}

/**
* PRODUCT DETAIL
*/

.product-detail {
  margin-top: 2em;
}

.product-detail-title {
  font-size: 2.4em;
  font-family: DMSerifDisplay-Regular;
}

.product-detail-location {
  display: flex;
  opacity: 75%;
  padding-top: 0.1em;
}

.product-detail-spec {
  display: flex;
  margin-top: 0.4em;
  justify-content: space-between;
}

.product-detail-location svg {
  padding-top: 0.2em;
  margin-right: 0.6em;
}

.product-detail-rating svg {
  margin-left: 0.4em;
  padding-top: 0.16em;
}

.product-detail-rating {
  display: flex;
  padding-bottom: 0.2em;
  font-family: Poppins-SemiBold;
}

.product-detail-img {
  height: 28em;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1.2em;
  border-radius: 0.8em;
}

.product-detail-overview {
  margin-top: 1em;
}

.product-detail-overview h2 {
  font-family: DMSerifDisplay-Regular;
  font-size: 2em;
  margin-bottom: 0.4em;
}
