/**
 * RESPONSIVE
 */

@media screen and (max-width: 1440px) {
  .container {
    padding-right: 6em;
    padding-left: 6em;
  }

  .wrapper {
    padding-left: 2em;
    padding-right: 2em;
  }

  .product-item {
    width: 20em;
  }

  .product-detail-review-item {
    width: 28%;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding-right: 4em;
    padding-left: 4em;
  }

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .product-item {
    width: 16em;
  }

  .feedback-item {
    width: 42%;
  }

  .product-detail-review-item {
    width: 44%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-right: 1em;
    padding-left: 1em;
  }

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  header {
    position: fixed;
    z-index: 1000;
  }

  nav {
    position: fixed;
    right: 0px;
    height: 94vh;
    top: 7.4vh;
    background-color: #ffffff;
    width: 60%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    box-shadow: -2px 4px 16px -10px rgba(0, 0, 0, 0.33);
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    justify-content: space-around;
    margin-top: 4vh;
  }

  .cart {
    display: none;
  }

  main {
    padding-top: 4.6em;
    z-index: 1;
  }

  body {
    overflow-x: hidden;
  }

  .nav-item {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .hero {
    height: 34em;
    background: linear-gradient(
        to right,
        rgba(3, 9, 17, 0.8),
        rgba(0, 0, 0, 0.06)
      ),
      url(./../public/images/heros/hero-image_2.jpg) no-repeat top center;
  }

  .product {
    width: 18em;
    margin-bottom: 1.4em;
  }

  .product-item {
    margin-bottom: 1.2em;
    margin-left: 0.6em;
    margin-right: 0.6em;
  }

  .hero-label {
    font-size: 0.9em;
  }

  .hero-title {
    font-size: 2.6em;
  }

  .hero-desc {
    font-size: 0.9em;
  }

  .products-header,
  .product-detail-header {
    margin-top: 2.4em;
    margin-bottom: 1.2em;
  }

  .products-header-title {
    font-size: 1.8em;
  }

  .products-header-desc,
  .product-detail-location {
    font-size: 0.9em;
  }

  .product-content-title {
    font-size: 1.4em;
    margin-bottom: 0;
  }

  .product-content-label {
    font-size: 0.9em;
  }

  .product-content svg {
    height: 0.9em;
  }

  .product-content-desc {
    font-size: 0.9em;
  }

  /* PRODUCT DETAIL */

  .product-detail-title {
    font-size: 2em;
  }

  .product-detail-overview h1,
  .product-detail-review h1 {
    font-size: 1.8em;
  }

  .product-detail-menu {
    display: block;
  }

  .product-detail-menu-container {
    margin-bottom: 0.4em;
  }

  .product-detail-menu-container:first-child {
    margin-right: 0;
  }

  .product-detail-review-item {
    width: 44%;
    margin-bottom: 0.8em;
  }

  .product-detail-review-form form {
    width: 60%;
  }
}

@media screen and (max-width: 584px) {
  .hero {
    height: 64vh;
  }

  .product-item {
    width: 100%;
  }

  .product-img {
    height: 14em;
  }

  .feedback-item {
    width: 100%;
  }

  .product-detail-review-item {
    width: 100%;
  }

  .product-detail-review-form form {
    width: 100%;
  }
}
